<li class="comment-box">
    <p class="comment-author"> author: <%=comment.user_name%></p>
    <p class="comment-time-stamp"> posted: <%=comment.time_stamp%></p>
    <p class="comment-body"><%=comment.body%></p>
</li>