<title>welcome to CRUDit, I guess</title>
<link rel="stylesheet" href="/style/style.css">
<base href="https://crudit.herokuapp.com">
<script type="text/javascript" src="./scripts/frontendFunctions.js"></script>
