<title>welcome to CRUDit, I guess</title>
<link rel="stylesheet" href="/style/style.css">
<base href="https://crudit.herokuapp.com">
<script src="/scripts/frontendFunctions.js"></script>
<script>
        document.body.onload = clientSideRender;
</script>
