<div class="navbar" onload="addUserProfileLink()">
    <ul id="navbar-container">
        <li class="navbar-list"><h1 id="main-title">CRUDit</h1></li>
        <li class="navbar-list"><a href="/submit/post">make a post!</a></li>
        <li class="navbar-list"><a href="/">posts by date</a></li>
        <li class="navbar-list"><a href="/topic">topics</a></li>
        <li class="navbar-list" id="profile"><a href="/auth/log-in">log in!</a></li>
        <li class="navbar-list"><a href="/auth/log-out">log out!</a></li>
        <li class="navbar-list"><a href="/auth/sign-up">sign up!</a></li>
        <li class="navbar-list"><button onclick="addUserProfileLink()"> TEST BUTTON </button></li>
    </ul>
</div>