<div class="navbar">
    <ul>
        <li class="navbar-list"><h1 id="title">CRUDit</h1></li>
        <li class="navbar-list"><a href="/submit/post">make a post!</a></li>
        <li class="navbar-list"><a href="/">posts by date</a></li>
        <li class="navbar-list"><a href="/ranked">posts by rank</a></li>
    </ul>
</div>