
<ul class="post-control">
    <li><button class="post-control" onclick="deletePost()" id="delete"> delete post </button></li>
    <li><button class="post-control" id="edit" onclick="enableEdit()"> edit post </button></li>
</ul>