<script>
    const deletePost = async () => {
        const result = await fetch(window.location.href, {
            method: 'DELETE',
            credentials: 'include',
        });
        window.location.assign('/');
        return;
    }
    const editPost = async () => {
        const edit = prompt('make your edit here!', document.getElementById("body").innerHTML);
        console.log(edit);
        const result = await fetch(window.location.href, {
            method: 'PUT',
            credentials: 'include',
            headers: {
                'Access-Control-Allow-Origin': 'https://crudit.herokuapp.com',
                origin: 'https://crudit.herokuapp.com',
                'Access-Control-Allow-Credentials': true,
                'content-type': 'application/x-www-form-urlencoded'

            }, //when including credentials, access control allow origin must be set, cors thing
            body: {
                'edit': edit
            }
        });
        console.log(result);
        //window.location.reload();
    }
</script>
<ul class="post-control">
    <li><button class="post-control" onclick="deletePost()"> delete post </button></li>
    <li><button class="post-control" onclick="editPost()"> edit post </button></li>
</ul>