<script>
    const deletePost = async () => {
        const result = await fetch(window.location.href, {
            method: 'DELETE',
            credentials: 'include',
        });
        window.location.assign('https://crudit.herokuapp.com/');
        return;
    }
    const editPost = () => {
        console.log("I DON'T KNOW HOOOWWWOOOOWWWW!!!  :'(");
        return;
    }
</script>
<ul class="post-control">
    <li><button class="post-control" onclick="deletePost()"> delete post </button></li>
    <li><button class="post-control" onclick="editPost()"> edit post </button></li>
</ul>