<script>
    const deletePost = async (postID) => {
        const result = await fetch(window.location.href, {
            method: 'DELETE', headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
            },
            credentials: 'include'
        });
        console.log(result);
        return;
    }
    const editPost = () => {
        console.log("I DON'T KNOW HOOOWWWOOOOWWWW!!!  :'(");
        return;
    }
</script>
<ul>
    <li><button class="post-control" onclick="deletePost()"> delete post </button></li>
    <li><button class="post-control" onclick="editPost()"> edit post </button></li>
</ul>