<script>
    const deletePost = async () => {
        const result = await fetch(window.location.href, {
            method: 'DELETE',
            credentials: 'include',
        });
        window.location.assign('/');
        return;
    }
    const editPost = async () => {
        const edit = prompt('make your edit here!', document.getElementById("body").innerHTML);
        console.log(edit);
        console.log(await fetch(window.location.href, {
            method: 'PUT',
            headers: {
                accept: "application/x-www-form-urlencoded",
            },
            credentials: 'include',
            body: {
                postbody: edit
            }
        }))
        //window.location.reload();
    }
</script>
<ul class="post-control">
    <li><button class="post-control" onclick="deletePost()"> delete post </button></li>
    <li><button class="post-control" onclick="editPost()"> edit post </button></li>
</ul>