
<ul>
    <li><textarea id="comment" name="comment" class="comment" type="text" rows="10" cols="80" maxlength="1000"></textarea></li>
    <li><button onclick="postComment()"> comment </button></li>
    <li><input type="hidden" name="postID" value=<%=post.id%>></li>
</ul>
