<script>
    const deletePost = async () => {
        const result = await fetch(window.location.href, {
            method: 'DELETE', headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
            },
            credentials: 'include'
        });
        if (!result.ok) {
            console.log('delete failed!');
        }
    }
    const editPost = () => {
        console.log("I DON'T KNOW HOOOWWWOOOOWWWW!!!  :'(");
        return;
    }
</script>
<ul class="post-control">
    <li><button class="post-control" onclick="deletePost()"> delete post </button></li>
    <li><button class="post-control" onclick="editPost()"> edit post </button></li>
</ul>