
<ul>
    <li><textarea id="comment" class="comment" type="text" rows="10" cols="80" maxlength="1000"></textarea></li>
    <li><button onclick="submitComment()"> comment </button></li>
    <li><input type="hidden" id="postID" value=<%-post.id%>></li>
</ul>
