<script>
    
</script>
<ul class="post-control">
    <li><button class="post-control" onclick="deletePost()"> delete post </button></li>
    <li><button class="post-control" onclick="editPost()"> edit post </button></li>
</ul>