<div class="users-navbar">
    <ul>
        <li class="users-navbar-list"><a href="users/<%=user.user_name%>/posts" class="users-navbar"> posts </a></li>
        <li class="users-navbar-list"><a href="users/<%=user.user_name%>/comments" class="users-navbar"></a> comments </li>
        <li class="users-navbar-list"><a href="users/<%=user.user_name%>/upvoted" class="users-navbar"> upvoted </a></li>
        <li class="users-navbar-list"><a href="users/<%=user.user_name%>/downvoted" class="users-navbar"> downvoted </a></li>
    </ul>
</div>