<!DOCTYPE html>
<html>
    <head>
        <%-include('partials/head')%>
    </head>
    <body>
        <%-include('partials/navbar')%>
        <ul>
            <label for="username"> username </label>
            <li class="login"><input type="text" id="username"></li>
            <label for="password"> password </label>
            <li class="login"><input type="password" id="password"></li>
            <label for="confirm-password"> confirm password </label>
            <li><input type="password" id="confirm-password"></li>
            <li><button onsubmit="createUser()"> create account </button></li>
        </ul>
    </body>
</html>