<!DOCTYPE html>
<head>
    <%-include('partials/head')%>
</head>
<body>
    <%-include('partials/navbar')%>
    <ul>
        <label for="topic">topic:</label>
        <li><input id="topic"type= "text" name="topic" maxlength="30"></li>
        <label for="title" type="text">post title:</label>
        <li><input type="text" name="title" id="title" maxlength="100"></li>
        <label for="post">body:</label>
        <li><textarea id="post" name="post" rows="30" cols="100" maxlength="5000"></textarea></li>
        <button onclick="submitPost()"> create post </button>
    </ul>
</body>