<!DOCTYPE html>
<head>
    <%-include('partials/head')%>
    <script>
        function submitForm() {
            console.log('here')
            let myForm = document.getElementById("post-form");
            let formData = new FormData(myForm);
            fetch('127.0.0.1:4001/submit/post', {
                method: 'POST',
                body: formData
            }).then(console.log('success!'))
            .catch(err => console.warn(err));
        }
    </script>
</head>
<body>
    <%-include('partials/navbar')%>
    <form id="post-form"  method="post" onsubmit="submitForm()" enctype="application/x-www-form-urlencoded">   <!--make sure you have a method or it won't work!, also make sure enctype (encoding) is appropriate for situation-->
        <ul>
            <label for="topic">topic:</label>
            <li><input id="topic"type= "text" name="topic" maxlength="30"></li>
            <lable for="author" type="text">author:</lable>
            <li><input type="text" name="author" id="author" maxlength="40"></li>
            <label for="title" type="text" id="title">post title:</label>
            <li><input type="text" name="title" id="title" maxlength="100"></li>
            <label for="post">body:</label>
            <li><textarea id="post" name="post" rows="30" cols="100" maxlength="5000"></textarea></li>
            <input type="submit" value="submit">
        </ul>
    </form>
</body>