<!DOCTYPE html>
<html>
    <head>
        <%-include('partials/head')%>
    </head>

    <body>
        <%-include('partials/navbar')%>
        <h1 class="error-heading">You broke it!</h1>
        <p class="error">this is probably why: </p>
        <p class="error"><%=error%></p>
    </body>
</html>