<!doctype html>
<html>
    <head>
        <title>welcome to CRUDit, I guess</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li class="navbar-list"><a href="./make-a-post">make a post!</a></li>
                <li class="navbar-list"><a href="./by-topic">posts by topics</a></li>
                <li class="navbar-list"><a href="./by-date">posts by date</a></li>
                <li class="navbar-list"><a href="./by-rank">posts by rank</a></li>
            </ul>
        </div>
        <ul>
            <li class="mainlist">
                <div class="postbox">
                    <ul>
                        <li class="title"><a href="./posts/id" class="post">title goes here</a></li>
                        <li class="author"><a href="./user/id" class="username">username</a></li>
                        <li class="timestamp">timestamp</li>
                    </ul>
                    
                </div>
            </li>
            <li class="mainlist">
                <div class="postbox">
                    <ul>
                        <li class="title"><a href="./posts/id" class="post">title goes here</a></li>
                        <li class="author"><a href="./user/id" class="username">username</a></li>
                        <li class="timestamp">timestamp</li>
                    </ul>
                </div>
            </li>
        </ul>
    </body>
</html>