<!DOCTYPE html>
<html>
    <head>
        <%=include('/partials/navbar')%>
        <script>
            function submitForm() {
            console.log('here')
            let myForm = document.getElementById("post-form");
            let formData = new FormData(myForm);
            fetch('/user/log-in', {
                method: 'POST',
                body: formData
            }).then(console.log('success!'))
            .catch(err => console.warn(err));
        }
        </script>
    </head>

    <body>
        <div id="login" onsubmit="submitForm()" enctype="application/x-www-form-urlencoded">
            <form method="POST" >
                <label for="username">username:</label>
                <input type="text" id="username" name="username">
                <br>
                <label for="password">password:</label>
                <input type="password" id="password" name="password">
                <input type="submit" value="log in">
            </form>
        </div>
    </body>
</htmL>