<!DOCTYPE html>
<html>
    <head>
        <%-include('partials/head')%>   <!-- no leading slash -->
        <script>
            function submitForm() {
            const myForm = document.getElementById("login-form");
            const formData = new FormData(myForm);
            const formObject = Object.fromEntries(formData.entries());
            const reqBody = JSON.stringify(formObject);

            fetch('/auth/log-in', {
                method: 'POST',
                body: reqBody,
            }).then(console.log('success!'))
            .catch(err => console.warn(err));
        }
        </script>
    </head>

    <body>
        <%-include('partials/navbar')%> 
        <div class="login" >
            <form onsubmit="submitForm()" id="login-form">
                <ul>
                    <label for="username">username:</label>
                    <li class="login"><input type="text" id="username" name="username"></li>
                    <label for="password">password:</label>
                    <li class="login"><input type="password" id="password" name="password"></li>
                    <li class ="submit"><input type="submit" value="log in"></li>
                </ul>
            </form>
        </div>
    </body>
</htmL>