<!DOCTYPE html>
<html>
    <head>
        <%-include('partials/head')%>   <!-- no leading slash -->
        <script>
            function submitForm() {
            const formObject = {}
            formObject.username = document.getElementById("username").value;
            formObject.password = document.getElementById("password").value;
            const reqBody = JSON.stringify(formObject);
            console.log(reqBody);
            fetch('/auth/log-in', {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: reqBody,
            }).then(console.log('success!'))
            .catch(err => console.warn(err));
            //window.location.assign('/');
        }
        </script>
    </head>

    <body>
        <%-include('partials/navbar')%> 
        <div class="login" >
            <ul>
                <label for="username">username:</label>
                <li class="login"><input type="text" id="username" name="username"></li>
                <label for="password">password:</label>
                <li class="login"><input type="password" id="password" name="password"></li>
                <li class ="submit"><button onclick="submitForm()">log in</button></li>
            </ul>
        </div>
    </body>
</htmL>