#title {
    font-family: "Comic Sans MS", "Comic Sans", 'Times New Roman';
    display: inline;
    margin: 30px;
}
.postbox {
    border: solid black;
    border-width: 1px;
    background-color: rgb(135, 136, 136);
    margin-bottom: 15px;
    margin-top: 15px;
}
.title {
    font-size: 20pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.author {
    font-size: 10pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.timestamp {
    font-size: 10pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
    background-color: rgb(255, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: solid rgb(0, 0, 0);
    border-width: 1px;
}
.navbar-list {
    display: inline;
    margin: 30px;
}
.topic {
    font-size: 10pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.users-navbar-list {
    display: inline;
    margin: 30px;
}
.users-navbar {
    font: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 0, 0);
}
body {
    background-color: rgb(255, 255, 255);
}
li {
    list-style-type: none;
}