<!DOCTYPE html>

<head>
    <%-include('partials/head')%>
</head>

<body>
    <%-include('partials/navbar')%><%-include('partials/userNavbar')%>
    <ul>
        <% user.comments.forEach(comment => {%><%-include('partials/commentBox', { comment })%><%}) %>
    </ul>
</body>
