<!DOCTYPE html>

<head>
    <%-include('partials/head')%>
</head>

<body>
    <%-include('partials/navbar')%>
    <%-include('partials/userNavbar')%>
    <ul>
        <% user.posts.forEach(post => {%><%-include('partials/postbox', {post: post})%><%}) %>
    </ul>
</body>